<div class="wrapper">

    <div class="sidebar1"> 
        left sidebar.
        <div class="form-check pl-0">
            <label for="currentBalanceCheck">Current Balances</label>
            <input id="currentBalanceCheck" type="checkbox" data-toggle="toggle" checked>
        </div>
    </div>

    <div class="sidebar2"> 
        <!-- <date-pipe></date-pipe> -->
        right sidebar.
        <button routerLink="/welcome">Return Card</button>
    </div>

    <div class="routes">
        <router-outlet></router-outlet>
    </div>
    
</div>

<button routerLink='/contact'>Contact Us</button>