<div class="wrapper">

    <div class="sidebar1"> 
        left sidebar.
        <div>
            <label for="currentBalanceCheck">Current Balances</label>
            <button id="currentBalanceCheck" (click)="toggle()">{{buttonName}}</button>
        </div>
        <ng-container *ngIf="show">
            <div>
                <div>
                    Account 
                </div>
                <div>
                    Balance
                </div>
            </div>
        </ng-container>
    </div>

    <div class="sidebar2"> 
        <!-- <date-pipe></date-pipe> -->
        right sidebar.
        <button routerLink="/welcome">Return Card</button>
    </div>

    <div class="routes">
        <router-outlet></router-outlet>
    </div>

</div>

<button routerLink='/contact'>Contact Us</button>